* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.gmnoprint,
.gm-style-cc,
#\30
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(15)
  > div
  > a
  > div
  > img,
#\30 > div > div > div > div > div > div:nth-child(2) {
  display: none !important;
}

* {
  font-family: "Sharp Grotesk Medium 20";
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

body {
  background-color: #f3ebea;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}

.header-container {
  border-bottom: 2px solid #010101;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.logo {
  font-size: 43px;
  margin: 0px;
}

.float-right {
  float: right;
}

.row-border {
  border-bottom: 1px solid #010101;
}

.outside-border {
  border: 1px solid #010101;
}

.links {
  text-align: right;
}

.park-name {
  font-size: 43px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: #010101;
}

.info-text {
  padding-top: 10px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.image {
  border-right: 1px solid #010101;
}

.profile-image {
  border-radius: 1000px;
  border: 2px solid #010101;
  height: 210px;
  width: 210px;
  display: block;
  margin: 0px auto;
}

.profile-name {
  font-family: Sharp Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 23px;
  margin-top: 40px;
}

.profile-bio {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
}

.marker-container {
  position: relative;
  cursor: pointer;
}

.marker-container:hover > .marker-info {
  opacity: 1;
}

.marker-info {
  position: absolute;
  top: -250px;
  left: 100px;
  color: #010101;
  opacity: 0;
  padding: 0px;
  border: 2px solid #010101;
  width: 300px;
}

.marker-info-image {
  display: block;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.marker-info-name {
  font-size: 20px;
  text-align: left;
}

.marker-info-other {
  font-size: 12px;
  margin: 0px auto;
  padding-bottom: 5px;
}

.marker {
}
.bg-1 {
  background-color: #75af79;
}
.bg-2 {
  background-color: #ebcad0;
}
.bg-3 {
  background-color: #dea351;
}

.login-box {
  margin-top: 50px;
}

.login-box-switch {
}

.login-text {
  border: 1px solid #010101;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  background-color: #f3ebea;
  padding: 20px;
  border-radius: 2px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
}

.login-text::placeholder {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: #525252;
}

.login-input-wrapper {
  position: relative;
}

.login-button-switch {
  border: 1px solid #010101;
  background-color: #ceeadd;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.login-button:hover {
  background: #010101;
  color: #f3ebea;
}

.login-button-switch:hover {
  background: #010101;
  color: #f3ebea;
}

.login-text-field {
  padding: 5px;
}

.signout-button {
  border: 1px solid #010101;
  background-color: #010101;
  color: white;
  margin-top: 20px !important;
  top: 0px;
  right: 0px;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.margin-center {
  margin: 0px auto;
  display: block;
}
