* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.gmnoprint,
.gm-style-cc,
#\30
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(15)
  > div
  > a
  > div
  > img,
#\30 > div > div > div > div > div > div:nth-child(2) {
  display: none !important;
}

* {
    font-family: 'Sharp Grotesk Medium 20';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}

body {
    background-color: #F3EBEA;
}

.outside-border{
    border: 1px solid #010101;
}



.park-name{
    font-size: 43px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: left;
    padding-right: 50px;
}

a { 
    text-decoration: none;
    color: #010101;
}

.info-text{
    font-size: 12px;
    padding-top: 10px;
}

.image{
    border-right: 1px solid #010101;
}

.marker-container {
  position: relative;
  cursor: pointer;
}

.marker-container:hover > .marker-info {
  opacity: 1;
}

.marker-info {
  position: absolute;
  top: -250px;
  left: 100px;
  color: #010101;
  opacity: 0;
  padding: 0px;
  border: 2px solid #010101;
  width: 300px;
}

.marker-info-image{
    display: block;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.marker-info-name{
font-size: 20px;
text-align: left;
}

.marker-info-other{
    font-size: 12px;
    margin: 0px auto;
    padding-bottom: 5px;
}


.marker {

}
.bg-1{
    background-color: #75AF79;
}
.bg-2{
    background-color: #EBCAD0;
}
.bg-3{
    background-color: #DEA351;
}

